import(GenomicRanges)
import(GenomicAlignments)

export("bamToGRanges",
		"chromosomeSelect",
		"coverageChr",
		"coverageVector",
		"exonInterestTreatment",
		"intervalSelect",
		"mapReadsTreatment",
		"plotSpMap",
		"spMap",
		"strandSelect")
		
